{{#link-to 'platform' class="hero-container"}}
  <div class="bg1">
    <div data-logo-id="r2" class="overlay">
      <h1>Platform</h1>
    </div>
  </div>
{{/link-to}}
<div class="parent">
  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "dashboard"}}
      <h1 class="white">Dashboard</h1>
      <p>Our Dashboards are Customizeable and a centralized location to view the metrics that are most important to you.  Analytics.  Visitors.  Conversion Rate.  More to Come!</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "shopping-cart"}}
      <h1 class="white">eStore</h1>
      <p>Our eCommerce platform easily enables you to begin selling products and services and take your customers through a full-checkout.  Quickly and securely.</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "envelope"}}
      <h1 class="white">eMail</h1>
      <p>Add and manage Email Accounts from within the platform.  Looking to do email Marketing? We got you covered.</p>
    </div>
  </div>

  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "archive"}}
      <h1 class="white">CRM</h1>
      <p>Keep a tight eye on your sales process with a Customer Relationship Manaagement Module.  Add prospects, Organizations, Employees.  Assign Tasks and create new Opportunities.  Forecast future Sales.</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
    {{fa-icon "user"}}
      <h1 class="white">Profile</h1>
      <p>Put Your Best Face forward for yourself personally, professionaly or for your organization</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
    {{fa-icon "book"}}
      <h1 class="white">Content Curation</h1>
      <p>Looking to Improve the quality of your content? We can help!  Screen-cast creation, Content Length and SEO Suggestions are all available.</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
    {{fa-icon "laptop"}}
      <h1 class="white">Blog</h1>
      <p>Post New Content Via our Blog.  Use the SEO Optimizer to ensure you're maximizing your organic search.  Easily promote via social media as well as email.  Got a Great Article Idea? Save a draft in the "Hopper".</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
    {{fa-icon "calendar"}}
      <h1 class="white">Calendar & Events</h1>
      <p>Manage Your hectic schedule with our calendar.  Create Events, Invite others, Attach Files and see how much extra time you can open up!</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
    {{fa-icon "edit"}}
      <h1 class="white">Todos</h1>
      <p>Track and prioritize your To-do Lists.  Add Push notifications and email updates for the important ones!</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">

    {{fa-icon "wrench"}}
      <h1 class="white">Builder</h1>
      <p>Add and Design new web pages easily with templates and plugins with our Web Builder.</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
    {{fa-icon "line-chart"}}
      <h1 class="white">Analytics</h1>
      <p>Track your Key Performance Indicators (KPI's).  Incoming Traffic and conversion rate are popular, but choose whatever is most important to your organization.</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
    {{fa-icon "comments"}}
      <h1 class="white">Messenger</h1>
      <p>Real-time messaging to keep in touch with those who matter.  Personal or professional. </p>
    </div>
  </div>
</div>
