
<div class="parent">
  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "dashboard"}}
      <h1 class="white">Design</h1>
      <p>Some Design Text</p>
    </div>
  </div>

  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "dashboard"}}
      <h1 class="white">Marketing</h1>
      <p>Some Design Text</p>
    </div>
  </div>


  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "dashboard"}}
      <h1 class="white">Development</h1>
      <p>Some Design Text</p>
    </div>
  </div>

  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "dashboard"}}
      <h1 class="white">Networking</h1>
      <p>Some Design Text</p>
    </div>
  </div>

  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "dashboard"}}
      <h1 class="white">Site Search</h1>
      <p>Some Design Text</p>
    </div>
  </div>
  <div class="child black">
    <div data-logo-id="r3">
      {{fa-icon "dashboard"}}
      <h1 class="white">Security Check</h1>
      <p>Some Design Text</p>
    </div>
  </div>
</div>
 {{liquid-outlet}}
